<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="header">
    <header class="header">
        <div class="header-content">
            <div class="container">
                <div class="header-content__row">
                    <div class="header-content__logo">
                        <a href="index.html">D K R U P I N . R U</a>
                    </div>
                    <div class="header-content__links">
                        <div class="header-content__short-links">
                            <div class="header-content__search">
                                <form class="search-body">
                                    <input type="search" id="site-search" name="search"
                                           placeholder="Введите запрос...">
                                    <button>ПОИСК</button>
                                </form>
                            </div>
                            <div class="header-content__projects">
                                <a href="projects.html">ПРОЕКТЫ</a>
                            </div>
                            <div class="header-content__news">
                                <a href="news.html">НОВОСТИ</a>
                            </div>
                            <div class="header-content__contacts">
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </div>
                            <button class="header-content__log-in">ЛИЧНЫЙ КАБИНЕТ</button>
                            <div class="header-content__greetings">
                                <div th:inline="text">Hallo
                                    <span th:remove="tag"
                                          sec:authentication="name">thymeleaf</span>!</div>
                                <div th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                                <form th:action="@{/logout}" method="post">
                                    <input type="submit" value="Выйти"/>
                                </form>
                            </div>
                        </div>
                        <div class="header-content__short-menu">
                            <ion-icon name="menu-outline"></ion-icon>
                        </div>
                        <div class="header-content__icon-close">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</html>