.header
    background-color: $color-white
    position: sticky
    top: 0px
.header-content
    color: $color-blue
    font-size: 24px
    line-height: 65px
    font-family: 'Inter'
    font-style: normal
    font-weight: 800
    margin: 0px 0px 0px 25px
    &__row
        display: flex
        justify-content: space-between
    &__logo
        flex: 0 0 40%
    &__links
        flex: 0 0 60%
        display: flex
        text-align: center
    &__search
        display: flex
        flex-direction: column
        justify-content: center
        flex: 0 0 18%        
    &__projects
        flex: 0 0 18% 
    &__news
        flex: 0 0 18% 
    &__contacts
        flex: 0 0 18%
    &__log-in
        display: flex
        flex-direction: column
        justify-content: center
        flex: 0 0 28%