.zakupki-site
    padding: 10px
    &__row
        display: flex
        align-items: center
        text-align: center
        gap: 20px
    &__add
    &__search
        width: 150px
    &__filter
    &__favorite

.client-table
    border: 1px solid $color-black
    padding: 10px
    &__row
        display: flex
        justify-content: space-between
        align-items: center
    &__number
    &__object
    &__name
    &__phone
    &__email
    &__comments

.deal-table
    border: 1px solid $color-black
    padding: 10px
    &__row
        display: flex
        justify-content: space-between
        align-items: center
    &__number
    &__deal
    &__client
    &__event
    &__comments
    &__attache