<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}" href="../.././static/CSS/style.css">
    <title>DKRUPIN.RU</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-content">
                <div class="container">
                    <div class="header-content__row">
                        <div class="header-content__logo">
                            <a href="index.html">D K R U P I N . R U</a>
                        </div>
                        <div class="header-content__links">
                            <div class="header-content__short-links">
                                <div class="header-content__search">
                                    <form class="search-body">
                                        <input type="search" id="site-search" name="search"
                                        placeholder="Введите запрос...">
                                        <button>ПОИСК</button>
                                    </form>
                                </div>
                                <div class="header-content__projects">
                                    <a href="projects.html">ПРОЕКТЫ</a>
                                </div>
                                <div class="header-content__news">
                                    <a href="news.html">НОВОСТИ</a>
                                </div>
                                <div class="header-content__contacts">
                                    <a href="contacts.html">КОНТАКТЫ</a>
                                </div>
                                <button class="header-content__log-in">ЛИЧНЫЙ КАБИНЕТ</button>
                            </div>
                            <div class="header-content__short-menu"><ion-icon name="menu-outline"></ion-icon></div>
                            <div class="header-content__icon-close"><ion-icon name="close-outline"></ion-icon></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper-login">
            <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
            
            <div class="form-box login">
                <h2>Login</h2>
                <form action="input-box">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox">
                            Remember me
                        </label>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don`t have an account? 
                            <a href="#" class="register-link">Register</a>
                        </p>
                    </div>
                </form>
            </div>
    
            <div class="form-box register">
                <h2>Registration</h2>
                <form action="input-box">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="text" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox">
                            I agree with the terms and conditions
                        </label>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login-register">
                        <p>Already have an account? 
                            <a href="#" class="login-link">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        <div class="main-site">
            <div class="main-site-content">
                <div class="container">
                    <div class="main-site-content__row">
                        <div class="main-site-content__main-text">
                            САЙТЫ <br>
                            ИНТЕРНЕТ-МАГАЗИНЫ <br>
                            МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ</div>
                        <div class="main-site-content__second-text">
                            Создание сайтов, интернет магазинов и мобильных приложений: от концепции до запуска и поддержки.
                        </div>
                        <div class="main-site-content__call-to-action">
                            <div class="button-body">
                                <div class="button-body__text">
                                    <a href="contacts.html">СВЯЗАТЬСЯ СО МНОЙ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer_row">
                    <div class="footer_text">ИП Крупин Д.А.</div>
                </div>
            </div>
        </footer>
    </div>
</body>

<script type="text/javascript" th:src="@{/SCRIPTS/script.js}" src="../../static/SCRIPTS/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>