<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}" href="../.././static/CSS/style.css">
    <title>NEWS DKRUPIN.RU</title>
</head>

<body>
    <div class="wrapper">
        <div th:insert="~{HTML/layout/header.html :: header}"></div>

        <div th:insert="~{HTML/layout/login.html :: wrapper-login}" class="login"></div>

        <div class="news-site">
            <div class="news-site-content">
                <div class="container">
                    <div class="news-site-content__row">
                        <div class="news-site-content__main-info">НОВОСТИ</div>
                        <div class="news-site-content__second-info">
                            <div class="news-site-content__img">
                                <img th:src="@{/IMG/news-main-img.jpg}" src="../../static/IMG/news-main-img.jpg">
                            </div>
                            <div class="news-site-content__description">
                                03 марта 2023 г. Начало реализации идеи создания сайтов, интернет-магазинов и приложений от концепции до реализации и поддержки.</div>

                        </div>
                        <div class="news-site-content__second-info">
                            <div class="news-site-content__img">
                                <img th:src="@{/IMG/news-main-img.jpg}" src="../../static/IMG/news-main-img.jpg">
                            </div>
                            <div class="news-site-content__description">
                                10 мая 2023 г. Готова альфа-версия фронтенда сайта с личным кабинетом, всплывающим меню и адаптивной версткой.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{HTML/layout/footer.html :: footer}"></div>
    </div>
</body>

<script type="text/javascript" th:src="@{/SCRIPTS/script.js}" src="../../static/SCRIPTS/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>